/* This is a comment in CSS */
body {
    background-color: #ddd;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 3px solid green;
    margin: 40px auto;
    padding: 50px;
}
p {
    color: darkblue;
    font-size: 1.3em;
}
hr {
    height: 5px;
    background-color: blueviolet;
    width: 80%;
}
h1, h2, p {
    text-align: center;
}
img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
#topics {
    line-height: 1.5em;
}
.list {
    list-style-type: none;
}